@{ 
    ViewBag.Title = "Magazyn : zamówienie zostało przesłane"; 
    }

<h2>Dziękujemy!</h2> 
Dziękujemy za złożenie rezerwacji. Produkty będą gotowe tak szybko, jak tylko będzie to możliwe.

<div class="text-center">
    <a class="btn btn-primary" href="../../">Kontynuuj zakupy</a>
</div>

